@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.button-primary {
  @apply px-5 border bg-blue-500 border-blue-500 text-white rounded font-medium hover:opacity-80 transition duration-150;
}

.button-primary-outlined {
  @apply px-5 border border-blue-500 text-blue-500 rounded font-medium hover:bg-blue-100 transition duration-150;
}

.button-secondary-outlined {
  @apply px-5 border border-gray-500 text-gray-500 rounded font-medium hover:bg-gray-100 transition duration-150;
}

.category-banner {
  @apply bg-cover bg-center py-5 px-5 min-h-[180px] rounded-md relative overflow-hidden 
  before:absolute before:top-0 before:bottom-0 before:left-0 before:right-0 before:bg-[rgba(125,125,125,0.2)];
}

.form-input {
  @apply w-full rounded leading-none transition-colors ease-in-out placeholder-gray-500 
  text-gray-700 bg-gray-50 border border-gray-300 hover:border-blue-400 focus:outline-none focus:border-blue-400 
  focus:ring-blue-400 focus:ring-1 focus:ring-opacity-30;
}

.form-input-error {
  @apply transition-colors focus:outline-none focus:ring-2 focus:ring-opacity-50 border-red-600 hover:border-red-600 
  focus:border-red-600 focus:ring-red-600;
}
